<div class="wrapper">
    <div class="content-center" style="margin-top: 12%;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-12  mr-auto ml-auto">
                    <div class="row">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12  mr-auto ml-auto">
                            <div class="line-logo">
                                <div class="aboutuslinelogo" style="margin-bottom: 1%;"></div>
                                <!-- <img src="dist/assets/img/aboutus/Line_1.png" class="img-responsive" alt="Rounded Image"> -->
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6  mr-auto ml-auto">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="contact-us-label-field">Your Name *</label>
                                        <input type="text" class="form-control contact-us-input-field" [(ngModel)]="getrecordsData.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="contact-us-label-field">Your Email *</label>
                                        <input type="text" class="form-control contact-us-input-field" [(ngModel)]="getrecordsData.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="contact-us-label-field">Your Message *</label>
                                        <input type="text" class="form-control contact-us-input-field" [(ngModel)]="getrecordsData.Message">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-check-label contact-us-label-field">
                                            <input type="checkbox" value="" style="width: 25px;
                                        height: 25px;">
                                            &nbsp;I HAVE READ THE DISCLAIMER AND I AGREE AND ACCEPT
                                            <span class="form-check-sign"></span>
                                          </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="form-check-label contact-us-label-field" style="line-height: 1.7em;">
                                            The information contained in this website is for general information purposes only and is provided
                                            by YB Motion Picture (YBMP). YBMP endeavours to keep the information upto date and correct, but makes 
                                            no warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability
                                            or availability with respect to the website or the information, products, services, or related graphics
                                            contained on the website for any purpose. Any reliance you place on such information is therefore strictly
                                            at your own risk. In no event will YBMP be liable for any loss or damage including without limitation,
                                            indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data
                                            or profits arising out of, or in connection with, the use of this website.
                                            Every effort is made to keep the website up and running smoothly. However, YBMP takes no responsibility for,
                                            and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
                                          </label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger" (click)="SendData()">SEND</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  mr-auto ml-auto">
                            <div class="row">
                                <div class="col-sm-12" style="text-align:center;justify-content: center; display: flex;">
                                    <div class="form-group">
                                        <h4>OUR OFFICE</h4>
                                        <h6>WE'D LOVE TO HEAR FROM YOU</h6>
                                        <span>
                                            5/6 Lorem Ipsum, Ground Floor, 
                                            Lorem, Mumbai - 400xxx, 
                                            Opposite Lorem Ipsum, 
                                            India
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="text-align:center;justify-content: center; display: flex;padding-top: 0px;color: white;">
                                    <div class="form-group">
                                        <h6>5/6 Lorem lpsum</h6>
                                        <h6>Ground Floor, Lorem,</h6>
                                        <h6>Mumbai - 400xxx</h6>
                                        <h6>Opposit Lorem lpsum,</h6>
                                        <h6>India</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>