<div class="wrapper">
    <div class="">

        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="title-brand">
                        <div class="angular-logo">
                            <!-- <img class="ybbannerlogo" alt=""> -->
                            <div class="ybbannerlogo" style="margin-top: 20%;
                            margin-bottom: 6%;"></div>
                        </div>
                        <!-- <h1 class="presentation-title">Imagination to Reality</h1> -->
                        <!-- <div class="fog-low">
                            <img src="assets/img/fog-low.png" alt="">
                        </div>
                        <div class="fog-low right">
                            <img src="assets/img/fog-low.png" alt="">
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="home-content">
                        <div class="col-md-12 mr-auto ml-auto page-carousel-content">
                            <div class="card page-carousel" style="background-color: #441917;">
                                <ngb-carousel>
                                    <ng-template ngbSlide>
                                        <div class="row">
                                            <div class="col-md-12" style="min-height: 60px;padding: 30px 0px 0px 45px;color: white;">

                                                <span class="carousel-text-font" style="font-size: 30px;"> UPCOMING </span>
                                                <br>
                                                <span class="carousel-text-font" style="font-size: 40px;font-weight: bold;line-height: 1;">PROJECTS</span>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" style="padding: 30px 45px 45px 45px;">
                                                <img src="./dist/assets/img/1.jpg" alt="Random first slide" style="border-radius: 0px;">
                                            </div>
                                            <div class="col-md-6" style="padding-left:0px;display: flex;
                                              align-items: center;
                                              justify-content: center;
                                              vertical-align: middle;padding-right: 45px;padding-bottom: 5px">
                                                <div class="row">

                                                    <div class="row">
                                                        <div class="col-md-12 carousel-text-padding" style="padding: 0px;">
                                                            <span style="font-size: 25px;color:#ffffff;line-height: 1;font-weight: 500;">PROFESSIONAL SAREE PHOTOSHOOT </span> <br><br>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 carousel-text-padding" style="padding: 0px;">
                                                            <span style="font-size: 13px;color:#e0b6b6;">Welcome to our website, we are introducing our new project that is for saree catalog shoot. As we all know indian saree is full of tradition, pride, and innovation. It represents the culture of the India and symbolizes her way of life.</span>
                                                            <br><br>
                                                            <a href="#" style="color:#bb261c;font-weight: 500;">More Details ></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div class="row">
                                            <div class="col-md-12" style="min-height: 60px;padding: 30px 0px 0px 45px;color: white;">

                                                <span class="carousel-text-font" style="font-size: 30px;"> UPCOMING </span>
                                                <br>
                                                <span class="carousel-text-font" style="font-size: 40px;font-weight: bold;line-height: 1;">PROJECTS</span>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" style="padding: 30px 45px 45px 45px;">
                                                <img src="./dist/assets/img/2.jpg" alt="Random first slide" style="border-radius: 0px;">
                                            </div>
                                            <div class="col-md-6" style="padding-left:0px;display: flex;
                                              align-items: center;
                                              justify-content: center;
                                              vertical-align: middle;padding-right: 45px;padding-bottom: 5px">
                                                <div class="row">
                                                    <div class="col-md-12 carousel-text-padding" style="padding: 0px;">
                                                        <span style="font-size: 13px;color:#bb261c;">Jan 05, 2021</span> <br><br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 carousel-text-padding" style="padding: 0px;">
                                                            <span style="font-size: 25px;color:#ffffff;line-height: 1;font-weight: 500;">Majestic Purple Colored Paithani Silk Saree </span> <br><br>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 carousel-text-padding" style="padding: 0px;">
                                                            <span style="font-size: 13px;color:#e0b6b6;">Majestic Purple Paithani Silk Saree with Matching Color silk Blouse. It contained of Printed. The Blouse which can be customized upto bust size 44. This unstich Saree Length 6.3 mtr including 0.80 mtr Blouse.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div class="row">
                                            <div class="col-md-12" style="min-height: 60px;padding: 30px 0px 0px 45px;color: white;">

                                                <span class="carousel-text-font" style="font-size: 30px;"> UPCOMING </span>
                                                <br>
                                                <span class="carousel-text-font" style="font-size: 40px;font-weight: bold;line-height: 1;">PROJECTS</span>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" style="padding: 30px 45px 45px 45px;">
                                                <img src="./dist/assets/img/3.png" alt="Random first slide" style="border-radius: 0px;">
                                            </div>
                                            <div class="col-md-6" style="padding-left:0px;display: flex;
                                              align-items: center;
                                              justify-content: center;
                                              vertical-align: middle;padding-right: 45px;padding-bottom: 5px">
                                                <div class="row">
                                                    <div class="col-md-12 carousel-text-padding" style="padding: 0px;">
                                                        <span style="font-size: 13px;color:#bb261c;">Jan 05, 2021</span> <br><br>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 carousel-text-padding" style="padding: 0px;">
                                                            <span style="font-size: 25px;color:#ffffff;line-height: 1;font-weight: 500;">Majestic Purple Colored Paithani Silk Saree </span> <br><br>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 carousel-text-padding" style="padding: 0px;">
                                                            <span style="font-size: 13px;color:#e0b6b6;">Majestic Purple Paithani Silk Saree with Matching Color silk Blouse. It contained of Printed. The Blouse which can be customized upto bust size 44. This unstich Saree Length 6.3 mtr including 0.80 mtr Blouse.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>

                                </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <h2 class="presentation-subtitle text-center">Free Bootstrap 4 UI Kit for Angular 7</h2> -->
            </div>
        </div>
        <!-- class="moving-clouds" -->
        <!-- style="background-image: url('assets/img/clouds.png'); " -->
        <!-- <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by

            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6> -->
    </div>
</div>