<div class="wrapper">
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div style="padding: 20px">
                        <div class="row">
                            <!-- <div class="col-12 col-xs-12  col-sm-12 col-md-12 offset-md-1">
                        <img src="dist/assets/img/ybBannerLogo/ybBannerLogo1366.png" class="img-thumbnail img-responsive" alt="Rounded Image">
                    </div> -->
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 mr-auto ml-auto">
                                <div class="title-brand" style="margin-top: 12%;
                                             margin-bottom: 6%;">
                                    <div class="angular-logo">
                                        <div class="ybbannerlogo"></div>
                                        <!-- <img class="ybbannerlogo img-responsive"> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="home-content" style="max-width: 100%;"> -->
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 mr-auto ml-auto page-carousel-content">
                                <div class="card page-carousel page-carousel-body">

                                    <ngb-carousel>
                                        <ng-template ngbSlide>
                                            <div class="carousel-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="carousel-text-font carousel-slide-title">UPCOMING</span>
                                                        <br>
                                                        <span class="carousel-text-font carousel-slide-sub-title">PROJECTS</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 carousel-slide-img">
                                                        <img src="./dist/assets/img/1.jpg" alt="Random first slide">
                                                    </div>
                                                    <div class="col-md-6 carousel-slide-body">
                                                        <div class="section-notifications">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <span class="carousel-slide-body-title">PROFESSIONAL SAREE PHOTOSHOOT </span> <br><br>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <span class="carousel-slide-body-description">Welcome to our website, we are introducing our new project that is for saree catalog shoot. As we all know indian saree is full of tradition, pride, and innovation. It represents the culture of the India and symbolizes her way of life.</span>
                                                                            <br><br>
                                                                            <a href="#">More Details ></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <div class="carousel-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="carousel-text-font carousel-slide-title">UPCOMING</span>
                                                        <br>
                                                        <span class="carousel-text-font carousel-slide-sub-title">PROJECTS</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 carousel-slide-img">
                                                        <img src="./dist/assets/img/2.jpg" alt="Random first slide">
                                                    </div>
                                                    <div class="col-md-6 carousel-slide-body">
                                                        <div class="section-notifications">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <span class="carousel-slide-body-title">PROFESSIONAL SAREE PHOTOSHOOT </span> <br><br>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <span class="carousel-slide-body-description">Welcome to our website, we are introducing our new project that is for saree catalog shoot. As we all know indian saree is full of tradition, pride, and innovation. It represents the culture of the India and symbolizes her way of life.</span>
                                                                            <br><br>
                                                                            <a href="#">More Details ></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <div class="carousel-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span class="carousel-text-font carousel-slide-title">UPCOMING</span>
                                                        <br>
                                                        <span class="carousel-text-font carousel-slide-sub-title">PROJECTS</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 carousel-slide-img">
                                                        <img src="./dist/assets/img/3.jpg" alt="Random first slide">
                                                    </div>
                                                    <div class="col-md-6 carousel-slide-body">
                                                        <div class="section-notifications">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <span class="carousel-slide-body-title">PROFESSIONAL SAREE PHOTOSHOOT </span> <br><br>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <span class="carousel-slide-body-description">Welcome to our website, we are introducing our new project that is for saree catalog shoot. As we all know indian saree is full of tradition, pride, and innovation. It represents the culture of the India and symbolizes her way of life.</span>
                                                                            <br><br>
                                                                            <a href="#">More Details ></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>