<div class="wrapper">
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 mr-auto ml-auto">
                            <div style="margin-top: 20%;">
                                <!-- <img src="dist/assets/img/aboutus/Line.png"> -->
                                <div class="line-logo">
                                    <!-- <img class="ybbannerlogo" alt=""> -->
                                    <div class="aboutuslinelogo" style="margin-bottom: 1%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 mr-auto ml-auto">
                            <div class="aboutus-content">
                                YB Motion Picture (YBMP) is a production house based out in Mumbai, India, committed to provide quality entertainment that is dynamic, memorable and inspired. We also take care of organisation and tasks to deliver successful event, allowing you to focus
                                on the day and your guests. We plan and organise promotional, business and social events. They're responsible for running a range of events, ensuring the target audience is engaged and the message of the event is marketed
                                properly. The true quality of the service will show if there is a problem. Founded in 2021 by notable.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>