<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('dist/assets/img/ybmotionBg.png')">

        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto ">
                        <span>
                            <h3 style="font-family: samarkan,Normal;
                            font-size: 65px;
                            color: #ffffff;
                            margin-bottom: 2%;
                            margin-top: 30%;">About YBMP</h3>
                        </span>
                        <span>
                            <img src="dist/assets/img/aboutus/Line.png">
                        </span>
                        <span style="padding-top: 5%;color: #feebca;">
                            YB Motion Pictures (YBMP) is a production house based out in Mumbai,India,committed to provide quality entertinment that is dynamic, memorable and inspired. We also take care of organisation and tasks to deliver sucessful event , allowing you to focus
                            on the day and your guests.We plan and organise promotional, business and social events.They're responsible for running a range of events,ensuring the target audience is engaged and the message of the event is marketed properly.The
                            true quality of the service will show if there is a problem. Founded in 2021 by notable.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>