<div class="wrapper">
    <div class="">

        <div class="content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <div style="margin-top: 20%;">
                            <!-- <img src="dist/assets/img/aboutus/Line.png"> -->
                            <div class="line-logo">
                                <!-- <img class="ybbannerlogo" alt=""> -->
                                <div class="aboutuslinelogo" style="margin-top: 30%;
                                margin-bottom: 1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="home-content">
                        <div class="col-md-12 mr-auto ml-auto">
                            <div style="padding-top: 3%;
                            color: #feebca;
                            line-height: 2;width: 90%;">
                                YB Motion Pictures (YBMP) is a production house based out in Mumbai,India,committed to provide quality entertinment that is dynamic, memorable and inspired. We also take care of organisation and tasks to deliver sucessful event , allowing you to focus
                                on the day and your guests.We plan and organise promotional, business and social events.They're responsible for running a range of events,ensuring the target audience is engaged and the message of the event is marketed
                                properly.The true quality of the service will show if there is a problem. Founded in 2021 by notable.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>