<div class="container">
    <div class="row" style="margin-top: 0%;">
        <div class="col-10">
            <a class="navbar-brand" [routerLink]="['/']">
                <div class="ybLogo img-rounded img-responsive" alt="Rounded Image"></div>
            </a>
        </div>
        <!-- <img src="dist/assets/img/ybLogo/ybLogo1366.png" class="img-rounded img-responsive" alt="Rounded Image"> -->
        <div class="col-2">
            <nav class="navbar navbar-expand-lg burger-fixed-top navbar-transparent" color-on-scroll="500" style="margin-top: 1%;">

                <!-- <div class="row">
            <div class="col-10"> -->
                <!-- </div>
            <div class="col-2"> -->
                <div class="navbar-translate">
                    <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                  <span class="navbar-toggler-bar" style="background: #66615b;"></span>
                  <span class="navbar-toggler-bar" style="background: #66615b;"></span>
                  <span class="navbar-toggler-bar" style="background: #66615b;"></span>
              </button>

                </div>
                <!-- </div>
        </div> -->
                <!-- <a class="navbar-brand" style="margin-top: -2%;" [routerLink]="['/']">
                <div class="ybLogo"></div>
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar" style="background: #66615b;"></span>
              <span class="navbar-toggler-bar" style="background: #66615b;"></span>
              <span class="navbar-toggler-bar" style="background: #66615b;"></span>
          </button>-->
                <div class="navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto">
                        <div style="margin-top: 100px;">
                            <a href="javascript:void(0)" class="hidden closebtn nav-close" id="closebtnid" (click)="sidebarClose()">&times;</a>

                        </div>
                        <li class="nav-item navbar-menu-border">
                            <a [routerLink]="['/']" class="nav-link">Home </a>
                        </li>

                        <div class="nav-item navbar-menu-border">
                            <div aria-haspopup="true" class="nav-link navigation-accordion-btn mobileview" id="collapseOneBtn" (click)="toggleMenu('collapseOneBtn','collapseOne')"> <i class="fa fa-plus"></i> About Us</div>
                            <div id="collapseOne" class="dropdown-menu dropdown-menu-right navbar-dropdown-border navigation-accordion" style="height: auto!important;">

                                <a class="dropdown-item navbar-anchor-a" [routerLink]="['/aboutus']">About YBMP</a>
                                <a class="dropdown-item navbar-anchor-a">Gallery</a>
                                <a class="dropdown-item navbar-anchor-a">Careers</a></div>
                        </div>
                        <div class="nav-item navbar-menu-border">
                            <div aria-haspopup="true" class="nav-link navigation-accordion-btn mobileview" id="collapseTwoBtn" (click)="toggleMenu('collapseTwoBtn','collapseTwo')"> <i class="fa fa-plus"></i> Projects</div>
                            <div id="collapseTwo" class="dropdown-menu dropdown-menu-right navbar-dropdown-border navigation-accordion" style="height: auto!important;">

                                <a class="dropdown-item navbar-anchor-a">Upcoming</a>
                                <a class="dropdown-item navbar-anchor-a">In Progress</a>
                                <a class="dropdown-item navbar-anchor-a">Completed</a></div>
                        </div>
                        <div class="nav-item dropdown navbar-menu-border webview">
                            <div aria-haspopup="true" class="nav-link dropdown-toggle" aria-expanded="true">About Us</div>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown-border" style="height: auto!important;">

                                <a class="dropdown-item navbar-anchor-a" [routerLink]="['/aboutus']">About YBMP</a>
                                <a class="dropdown-item navbar-anchor-a">Gallery</a>
                                <a class="dropdown-item navbar-anchor-a">Careers</a></div>
                        </div>
                        <div class="nav-item dropdown navbar-menu-border webview">
                            <div aria-haspopup="true" class="nav-link dropdown-toggle" aria-expanded="true">Projects</div>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown-border" style="height: auto!important;">

                                <a class="dropdown-item navbar-anchor-a">Upcoming</a>
                                <a class="dropdown-item navbar-anchor-a">In Progress</a>
                                <a class="dropdown-item navbar-anchor-a">Completed</a></div>
                        </div>
                        <li class="nav-item navbar-menu-border">
                            <a [routerLink]="['/contactus']" class="nav-link" target="_blank" style="min-width: 140px;">
                        Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</div>