<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" style="margin-top: -2%;" [routerLink]="['/']">
                
                <!-- <img src="assets/img/ybLogo.png" alt=""> -->
                <div class="ybLogo"></div>
            
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <!-- <ul _ngcontent-fyc-c1="" class="navbar-nav ml-auto">
                <div _ngcontent-fyc-c1="" class="nav-item dropdown" ngbdropdown="">
                    <div _ngcontent-fyc-c1="" aria-haspopup="true" class="nav-link dropdown-toggle dropdown-toggle"
                     ngbdropdowntoggle="" aria-expanded="false">Components</div>
                     <div _ngcontent-fyc-c1="" class="dropdown-menu dropdown-menu-right dropdown-danger"
                      ngbdropdownmenu=""><a _ngcontent-fyc-c1="" class="dropdown-item" ngbdropdownitem=""
                       href="#/components"><i _ngcontent-fyc-c1="" class="nc-icon nc-tile-56"><
                           /i>All Components</a></div></div>
                        </ul> -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link" target="_blank">Home </a>
                </li>
                <li class="nav-item">
                    <a href="#AboutUs" class="nav-link">
                       About Us</a>
                </li>
                <div class="nav-item dropdown" ngbDropdown>
                    <div aria-haspopup="true" class="nav-link dropdown-toggle" 
                    ngbDropdownToggle aria-expanded="true">Projects</div><div  
                    class="dropdown-menu dropdown-menu-right" style="height: auto!important;" ngbDropdownMenu>
                
                    <a class="dropdown-item">Upcoming</a>
                    <a class="dropdown-item">In Progress</a>
                    <a class="dropdown-item">Completed</a></div></div>                                       
                        
                        <li class="nav-item">
                    <a [routerLink]="['/contactus']" class="nav-link" target="_blank">
                        Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
