<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" style="margin-top: -25px;" [routerLink]="['/']">
                
                <img src="assets/img/ybLogo.png" alt="">
            
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link" target="_blank">Home </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/aboutus']" class="nav-link" target="_blank">
                       About Us</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/projects']" class="nav-link" target="_blank">
                       Projects </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contactus']" class="nav-link" target="_blank">
                        Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
